
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hesap Makinesi</h2>
<br />
<form class="form-group" method="post">
    <div>
        Sayi1:<input type="text" name="Sayi1" id="Sayi1" /> <br/><br />
        Sayi2:<input type="text" name="Sayi2" id="Sayi2" /> <br/><br />
        <button class="btn btn-warning"> Hesapla </button><br />
        sonuc:@ViewBag.snc
    </div>

</form>>
